

#red{
    color: red;
    font-weight: normal;
    height: 200px;
    weight:200px;
}

#blue{
    color:blue;
    font-weight: normal;
    heigh:200px;
    weight:200px;
}

#yellow{

    color:yellow;
    font-weight: normal;
    heigh:200px;
    weight:200px;
}


#orange{
    color: orange;
    font-weight: normal;
    heigh:200px;
    weight:200px;
}

#green{
    color:green;
    font-weight: normal;
    heigh:200px;
    weight:200px;
}